@model stonks.Pages._ForumPostPreviewModel
@{
}
<div class="forumPostPreview row py-1" id="@Model.PostId">

    <div class="col-md-8 gx-3">
        <a asp-page="/Post" asp-route-ID="@Model.PostId" class="row postPreviewLarge postPreviewTop blackText">@Model.Title</a>
        <div class="row gx-3">
            
            <a class="textSmall blackText" href="/User/@Model.UserId">@Model.Username</a>

            @if (Model.NumReplies == 1)
            {
                <p class="col text-nowrap textSmall">@Model.NumReplies reply</p>
            }
            else
            {
                <p class="col text-nowrap textSmall">@Model.NumReplies replies</p>
            }

        <p class="col textSmall">@stonks.Classes.Helper.GetFormattedTags(Model.Tags)</p>

        </div>
    </div>

    <div class="col-md p-0 pt-1 text-right">
        <p class="postPreviewTop">@Model.DatePosted</p>
        <p class="reportButton textSmall pt-1">report</p> <!--TODO: Make this an actual report button-->
    </div>

    <p class="postId d-none">@Model.PostId</p>

</div>